@charset "uft-8";

@font-face {
    font-family: 'yg-jalnan';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
html {
    font-size: 62.5%;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body {
    line-height: 1;
    color: #333;
    font-family: 'SUIT Variable', sans-serif;
    font-weight: normal;
    font-size: 16px;
    position: relative;
    overflow-x: hidden;
}
.body_bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 7;
    display: none;
}
.body_bg span {
    position: absolute;
    left: -99999px;
}

main .inner {
    max-width: 1440px;
    width: calc(100% - 60px);
    margin: 15rem auto;
}
main .inner .title {
    margin-bottom: 5rem;
    display: flex;
    align-items: center;
    gap: 20px;
}
main .inner .title h3 {
    font-size: 4rem;
}
main .inner .title > figure {
    opacity: 0.5;
}
main .inner .title > figure img {
    width: 100%;
}
.mobile {
    display: none;
}

/******* .header ******/

.header {
    width: 100%;
    height: 100px;
    border-bottom: 2px solid rgba(251, 67, 88, 0.502);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}
.header.on {
    transform: translateY(-100%);
}
.header .inner {
    max-width: 1440px;
    width: calc(100% - 30px);
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 119;
}
.header .inner .logo {
    display: flex;
    align-items: end;
}
.header .inner .logo p {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 5px;
}
.header .inner .pc_nav {
    height: 100%;
}
.header .inner .pc_nav .gnb {
    display: flex;
}
.header .inner .pc_nav .gnb > li {
    position: relative;
}
.header .inner .pc_nav .gnb > li .depth01 {
    line-height: 100px;
    display: block;
    padding: 0 50px;
    transition: 0.5s;
    position: relative;
    font-weight: 500;
}
.header .inner .pc_nav .gnb > li .depth01::before {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #FB4357;
    border-radius: 50%;
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
}
.header .inner .pc_nav .gnb > li .depth01:hover {
    color: #FB4357;
    font-weight: bold;
}
.header .inner .pc_nav .gnb > li .depth01.on {
    color: #FB4357;
    font-weight: bold;
}
.header .inner .pc_nav .gnb > li .depth01:hover::before {
    width: 40%;
}
.header .inner .pc_nav .gnb > li .depth02 {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 100px;
    left: 0;
    display: none;
}
.header .inner .pc_nav .gnb li .depth02 li {
    position: relative;
}
.header .inner .pc_nav .gnb li .depth02 li:first-child {
    color: #FB4357;
}
.header .inner .pc_nav .gnb li .depth02 li:first-child::before {
    content: '';
    display: block;
    width: 80%;
    height: 1px;
    background-color: #FB4357;
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translateX(-50%);
    transition: 0.5s;
}
.header .inner .pc_nav .gnb li .depth02 li:not(:first-child)::before {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background-color: #FB4357;
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translateX(-50%);
    transition: 0.5s;
}
.header .inner .pc_nav .gnb li .depth02 li a {
    display: block;
    padding: 20px 0;
}
.header .inner .pc_nav .gnb li .depth02 li:not(:first-child):hover {
    font-weight: bold;
    color: #FB4357;
}
.header .inner .pc_nav .gnb li .depth02 li:hover::before {
    width: 80%;
}
.header .inner .util {
    display: flex;
    align-items: center;
    gap: 30px;
}
.header .inner .util .form fieldset {
    border: none;
}
.header .inner .util .form fieldset legend {
    position: absolute;
    right: -9999999px;
}
.header .inner .util .form fieldset .search {
    display: flex;
    gap: 5px;
}
.header .inner .util .form fieldset .search input {
    text-align: right;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    font-family: 'SUIT Variable', sans-serif;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
    display: none;
}
.header .inner .util .form fieldset .search a {
    opacity: 0.8;
}
.header .inner .util .form fieldset .search input:focus {
    outline: 1px solid rgba(255, 255, 255, 0.5);
}
.header .inner .util > a:first-of-type ~ a {
    opacity: 0.8;
}


.header .mobile_nav {
    min-width: 320px;
    width: 40%;
    height: 100vh;
    position: fixed;
    top: 100px;
    right: -100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    transition: 0.8s;
}
.header .mobile_nav .gnb {
    padding: 50px;
}
.header .mobile_nav .gnb li .depth01 {
    display: block;
    font-size: 24px;
    padding: 20px;
    border-bottom: 1px solid #FB4357;
}
.header .mobile_nav .gnb li .depth01.on {
    color: #FB4357;
}
.header .mobile_nav .gnb li .depth02 {
    display: none;
    font-size: 18px;
    padding: 20px 0;
}
.header .mobile_nav .gnb li .depth02 li {
    padding: 10px 30px;
}
.header .mobile_nav.on {
    right: 0;
}
.header .mobile_nav .gnb li .depth02.on {
    display: block;
}
.header .mobile_nav .gnb li .depth02 li:hover {
    color: #FB4357;
}

.pc_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 750%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: -1;
    display: none;
}
.pc_bg::after {
    position: absolute;
    top: 98px;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    display: block;
    background-color: rgba(251, 67, 88, 0.502);

}
.pc_bg span {
    position: absolute;
    left: -99999px;
}

/******* .main_visual ******/

.main_visual {
    background-color: #000000;
}
.main_visual .mainSwiper .swiper-wrapper .swiper-slide {
    width: 100%;
}
.mainSwiper .swiper-wrapper .swiper-slide .slide_text {
    margin: 0 auto;
    position: absolute;
    top: 16.75%;
    left: 12.5%;
    color: #fff;
}
.mainSwiper .swiper-wrapper .swiper-slide .slide_text p {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.6;
}
.mainSwiper .swiper-wrapper .swiper-slide .slide_text h2 {
    font-size: 8rem;
    font-weight: 900;
    font-family: 'yg-jalnan';
    margin: 30px 0 20px;
}
.mainSwiper .swiper-wrapper .swiper-slide .slide_text strong {
    font-size: 4rem;
    font-weight: 300;
}
.mainSwiper .swiper-wrapper .swiper-slide figure {
    width: 100%;
}
.mainSwiper .swiper-wrapper .swiper-slide img {
    width: 100%;
    object-fit: cover;
    display: block;
}
.main_visual .mainSwiper .swiper-btn {
    width: 1862px;
}
.mainSwiper .swiper-btn .swiper-button-next,
.mainSwiper .swiper-btn .swiper-button-prev {
    background: url(../img/icon_mv_next.svg) center center / 20px no-repeat;
    opacity: 0.5;
}
.mainSwiper .swiper-btn .swiper-button-prev {
    background-image: url(../img/icon_mv_prev.svg);
}
.mainSwiper .swiper-btn .swiper-button-next::after,
.mainSwiper .swiper-btn .swiper-button-prev::after {
    display: none;
}
.main_visual .mainSwiper .pagination_wrap {
    color: rgba(255, 255, 255, 0.3);
}

.poster {
    padding: 15rem 0;
    background-color: #000000;
    color: #ffffff;
}
.poster .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 5rem;
}
.poster .inner .title {
    gap: 0;
}
.poster .inner .title_wrap {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0;
}
.poster .inner .title_wrap h3:nth-of-type(2) {
    font-weight: 300;
    margin: 0 20px 0 33px;
    position: relative;
}
.poster .inner .title_wrap h3:nth-of-type(2)::before {
    content: '';
    display: block;
    width: 1px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: -16px;
    top: 50%;
    transform: translateY(-50%);
}
.poster .inner .title_wrap > a {
    opacity: 0.5;
}
.poster .inner .title_wrap > a img {
    width: 100%;
}
.poster .inner > a {
    font-size: 18px;
    font-weight: 500;
    padding: 12px 20px;
    background-color: #FB4357;
    border-radius: 25px;
    transition: 0.3s;
    top: 50%;
    right: 30px;
    z-index: 6;
}
.poster .inner > a:hover {
    transform: scale(0.97);
}
.posterSwiper .swiper-wrapper .swiper-slide {
    width: 16.66%;
    padding: 0 32.5px;
}
.posterSwiper .swiper-wrapper .swiper-slide .poster_image {
    border-radius: 25px;
    overflow: hidden;
    position: relative;
}
.posterSwiper .swiper-wrapper .swiper-slide .poster_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.posterSwiper .swiper-wrapper .swiper-slide .poster_image::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.5s;
}
.posterSwiper .swiper-wrapper .swiper-slide .poster_image p {
    position: absolute;
    bottom: -8px;
    left: 15px;
    font-size: 70px;
    font-weight: 900;
    font-style: italic;
    margin: 0;
    line-height: 1;
    text-shadow: 0 1px #000000,
                1px 0 #000000,
                1px 0 #000000,
                0 1px #000000;
}
.posterSwiper .swiper-wrapper .swiper-slide .poster_btn {
    position: absolute;
    top: 40%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
    opacity: 0;
    transition: 0.5s;
}
.swiper-slide .poster_btn > a {
    display: block;
    font-size: 18px;
    padding: 12px 20px;
    background-color: #ffffff;
    opacity: 0.7;
    border-radius: 25px;
    color: #555555;
    transition: 0.3s;
}
.poster_btn > a:nth-of-type(2) {
    background-color: #FB4357;
    color: #ffffff;
}
.poster_btn > a:hover {
    opacity: 1;
    transform: scale(0.97);
}
.posterSwiper .swiper-wrapper .swiper-slide:hover .poster_image::before {
    opacity: 1;
}
.posterSwiper .swiper-wrapper .swiper-slide:hover .poster_btn {
    opacity: 1;
}
.posterSwiper .swiper-wrapper .swiper-slide > a h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    margin: 10px auto 20px ;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.posterSwiper .swiper-wrapper .swiper-slide > a .egg {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.posterSwiper .swiper-wrapper .swiper-slide > a .egg span {
    font-size: 2.5rem;
}
.posterSwiper .swiper-button-next,
.posterSwiper .swiper-button-prev {
    top: 40%;
    width: 45px;
    height: 45px;
    background: url(../img/poster_next_btn.svg) center center / 100%  no-repeat;
    opacity: 0.6;
    transition: 0.5s;
    right: 5px;
}
.posterSwiper .swiper-button-prev {
    background-image: url(../img/poster_prev_btn.svg);
    left: 5px;
}
.posterSwiper .swiper-button-next:hover,
.posterSwiper .swiper-button-prev:hover {
    opacity: 0.9;   
}
.posterSwiper .swiper-button-next:after, 
.posterSwiper .swiper-button-prev:after {
    display: none;
}

/******* event ******/

.event .inner {
    position: relative;
}
.event .inner .eventSwiper .swiper-slide {
    width: 464px;
}
.event .inner .eventSwiper .swiper-slide .event_image {
    width: 100%;
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 15px;
}
.event .inner .eventSwiper .swiper-slide .event_image img {
    width: 100%;
    object-fit: cover;
    display: block;
}
.text h5 {
    font-size: 18px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.text > span {
    display: block;
    font-size: 16px;
    color: #666666;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.event .inner .eventSwiper .swiper-slide .event_text h5 {
    margin-bottom: 15px;
}
.event .inner .btn_wrap {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1500px;
    width: calc(100% + 60px);
}
.event .btn_wrap .swiper-button-next,
.event .btn_wrap .swiper-button-prev {
    top: 50%;
    width: 15px;
    height: 26px;
    background: url(../img/event_next_btn.svg) center center / 100%  no-repeat;
    opacity: 0.6;
    transition: 0.5s;
    right: 5px;
}
.event .btn_wrap .swiper-button-prev {
    background-image: url(../img/event_prev_btn.svg);
    left: 5px;
}
.event .btn_wrap .swiper-button-next:hover,
.event .btn_wrap .swiper-button-prev:hover {
    opacity: 0.9;   
}
.event .btn_wrap .swiper-button-next:after, 
.event .btn_wrap .swiper-button-prev:after {
    display: none;
}

/****** store ******/

.store .inner {
    display: flex;
    justify-content: space-between;
}
.store .inner .store_title_wrap .store_btn {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.store .inner .store_title_wrap .store_btn a {
    font-weight: 500;
    width: fit-content;
    border-radius: 25px;
    display: block;
    padding: 10px 20px;
    border: 1.5px solid rgba(251, 67, 88, 0);
    background-color: rgba(251, 67, 88, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
    font-size: 16px;
}
.store .inner .store_title_wrap .store_btn a:hover {
    border: 1.5px solid #FB4357;
    background-color: #ffffff;
    color: #FB4357;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.store .inner .store_title_wrap .store_btn a:first-of-type {
    border: 1.5px solid #FB4357;
    background-color: #ffffff;
    color: #FB4357;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.store .inner .list {
    width: 74.72%;
    display: flex;
    justify-content: space-between;
}
.store .inner .list .item {
    width: 31.97%;
}
.store .inner .list .item:nth-child(1) {
    display: none;
}
.store .inner .list .item .image_wrap {
    width: 100%;
    max-height: 470px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    margin-bottom: 15px;
    position: relative;
    transition: 0.5s;
}
.store .inner .list .item .image_wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.store .inner .list .item .image_wrap::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.5s;
}
.store .inner .list .item:hover .image_wrap::after {
    opacity: 1;
}
.store .inner .list .item .image_wrap .item_btn {
    width: 100%;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 2;
    opacity: 0;
    transition: 0.5s;
}
.store .inner .list .item:hover .image_wrap .item_btn {
    opacity: 1;
}
.store .inner .list .item .image_wrap .item_btn a {
    display: block;
    width: 25px;
    height: 25px;
    transition: 0.5s;
}
.store .inner .list .item .image_wrap .item_btn .pay {  
    background: url(../img/store_pay.svg) center center / 100% no-repeat;
}
.store .inner .list .item .image_wrap .item_btn .gift {  
    background: url(../img/store_gift.svg) center center / 100% no-repeat;
}
.store .inner .list .item .image_wrap .item_btn .cart {  
    background: url(../img/store_cart.svg) center center / 100% no-repeat;
}
.store .inner .list .item .image_wrap .item_btn .pay:hover {
    background-image: url(../img/store_pay_fb4357.svg);
}
.store .inner .list .item .image_wrap .item_btn .gift:hover {
    background-image: url(../img/store_gift_fb3457.svg);
}
.store .inner .list .item .image_wrap .item_btn .cart:hover {
    background-image: url(../img/store_cart_fb4357.svg);
}
.store .inner .list .item .store_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 84px;
}
.store .inner .list .item .store_text > span {
    display: block;
    margin-bottom: 10px;
}
.store .inner .list .item .store_text .price {
    display: flex;
    gap: 5px;
    align-items: center;
} 
.store .inner .list .item .store_text .price strong {
    font-size: 2.2rem;
}
.store .inner .list .item .store_text .price span {
    color: #666666;
    text-decoration: line-through;
    text-decoration-color: rgba(102, 102, 102, 0.5);
    font-size: 14px;
}

/****** banner ******/

.banner .bannerSwiper .swiper-wrapper .swiper-slide {
    width: 100%;
}
.banner .bannerSwiper .swiper-wrapper .swiper-slide a img {
    width: 100%;
}

/****** cinema ******/

.cinema .inner .title {
    justify-content: space-between;
}
.view_all {
    display: flex;
    align-items: center;
    gap: 15px;
}
.view_all p {
    font-size: 2.2rem;
    font-weight: 300;
}
.view_all img {
    opacity: 0.5;
}

.cinema .inner .list {
    display: flex;
    justify-content: space-between;
}
.cinema .inner .list .item {
    width: 15.27%;
    position: relative;
}

.cinema .inner .list .item a {
    display: block;
    border-radius: 25px;
    overflow: hidden;
    height: fit-content;
}
.cinema .inner .list .item a img {
    width: 100%;
    display: block;
}
.cinema .inner .list .item h6 {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #ffffff;
    font-size: 2.2rem;
    text-align: center;
    z-index: 2;
    transition: 0.5s;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.cinema .inner .list .item > a::after {
    content:'';
    display: block;
    border-radius: 25px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.cinema .inner .list .item a:hover::after {
    opacity: 0;
}

/****** notice ******/

.notice p {
    font-weight: 300;
    line-height: 1.6;
}
.notice span {
    font-weight: 300;
    line-height: 1.6;
}
.notice .inner {
    display: flex;
    justify-content: space-between;
    height: 100%;
    word-break: keep-all;
}
.notice .inner .notice_text {
    max-width: 1074px;
    width: 74.58%;
    height: 100%;
}
.notice .inner .notice_text .notice_up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.notice .inner .notice_text .notice_up .notice_title_wrap {
    display: flex;
    align-items: center;
}
.notice_title {
    font-size: 2.2rem;
    margin-right: 3rem;
}
.notice .inner .notice_text .notice_up .notice_title_wrap p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.notice .inner .notice_text .notice_up .view_all p {
    font-size: 14px;
}
.notice .inner .notice_text .notice_up .view_all img {
    width: 15px;
}
.notice .inner .notice_text .notice_down {
    max-height: 148px;
    height: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}
.notice_down .notice_left {
    display: flex;
    height: 100%;
}
.notice_left .customer_center {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.notice_left .customer_center .call {
    color: #FB4357;
    font-weight: normal;
    font-size: 2.2rem;
}
.notice_left .customer_center span {
    display: block;
    margin: 20px 0;
}
.notice_left .customer_center .cc_btn {
    display: flex;
    gap: 10px;
}
.notice_left .customer_center .cc_btn a {
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    font-size: 14px;
    font-weight: 500;
}

.notice_down .notice_right {
    display: flex;
    justify-content: space-between;
    width: 43.2%;
}
.notice_down .notice_right .app_text span {
    display: block;
    margin: 20px 0;
}
.notice .inner .noticeSwiper {
    max-width: 342px;
    width: 23.75%;
    max-height: 225px;
    height: 15.62vw;
    margin: 0;
}
.noticeSwiper .swiper-wrapper {
    height: 100%;
}
.noticeSwiper .swiper-wrapper .swiper-slide {
    height: 100%;
    border-radius: 25px;
    overflow: hidden;
}
.noticeSwiper .swiper-wrapper .swiper-slide a {
    height: 100%;
}
.noticeSwiper .swiper-wrapper .swiper-slide a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/****** footer ******/

.footer {
    background-color: rgba(0, 0, 0, 0.1);
    padding-bottom: 8rem;
    color: #999999;
    font-size: 14px;
}
.footer .inner {
    max-width: 1440px;
    width: calc(100% - 60px);
    margin: 0 auto;
    position: relative;
}
.footer .inner .footer_menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.footer .inner .footer_menu li {
    position: relative;
}
.footer .inner .footer_menu li:not(:last-child)::after {
    content: '';
    display: block;
    width: 2px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    right: -27px;
    transform: translateY(-50%);
}
.footer .inner .footer_adress {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 25px;
}
.footer .footer_adress li .corporate {
    display: flex;
    gap: 20px;
}
.footer .inner .footer_adress li .mail {
    display: flex;
    gap: 20px;
}

.footer .inner .familly_site {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    border-radius: 25px;
    color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 100px;
    right: 0;
}
.footer .inner .familly_site li img {
    opacity: 0.5;
}



@media screen and (max-width:1500px) {
    .eventSwiper .swiper-button-next, 
    .eventSwiper .swiper-button-prev {
        right: 5px;
    }
    .eventSwiper .swiper-button-prev {
        left: 5px;
    }
    .posterSwiper .swiper-wrapper .swiper-slide > a h2 {
        font-size: 2.4rem;
    }
    .posterSwiper .swiper-wrapper .swiper-slide > a .egg span {
        font-size: 2rem;
    }
}/* 1500 */

@media screen and (max-width:1395px) {
    .pc {
        display: none !important;
    }
    .mobile {
        display: block;
    }
    .mainSwiper .swiper-wrapper .swiper-slide .slide_text h2 {
        font-size: 50px;
    }
    .posterSwiper .swiper-wrapper .swiper-slide .poster_image:hover::before {
        opacity: 0;
    }
    .posterSwiper .swiper-wrapper .swiper-slide .poster_btn {
        position: static;
        flex-direction: row;
        margin-top: 30px;
        opacity: 1;
    }
    .swiper-slide .poster_btn > a {
        display: block;
        font-size: 16px;
        padding: 10px 20px;
        opacity: 1;
    }
    .posterSwiper .swiper-wrapper .swiper-slide:hover .poster_image::before {
        opacity: 0;
    }
    .footer .inner .footer_menu li:not(:last-child)::after {
        display: none;
    }

}/* 1395 */

@media screen and (max-width:1275px) {
    html {
        font-size: 50%;
    }

    .notice .inner .notice_text {
        max-width: 100%;
        width: 100%;
    }
    .notice .inner .noticeSwiper {
        display: none;
    }
    .cinema .inner .list .item {
        width: 23.33%;
    }
    .cinema .inner .list .item:nth-child(4) ~ .item {
        display: none;
    }

}/* 1275 */

@media screen and (max-width:960px) {
    .mainSwiper .swiper-wrapper .swiper-slide .slide_text {
        top: 20%;
    }
    .mainSwiper .swiper-wrapper .swiper-slide .slide_text h2 {
        font-size: 40px;
    }
    .poster .inner .title_wrap h3:nth-of-type(2) {
        margin: 0 10px 0 20px;
    }
    .poster .inner .title_wrap h3:nth-of-type(2)::before {
        left: -10px;
    }
    .posterSwiper .swiper-wrapper .swiper-slide {
        padding: 0 12px;
    }
    .posterSwiper .swiper-wrapper .swiper-slide .poster_btn {
        gap: 10px;
    }
    .store .inner {
        display: block;
    }
    .store .inner .store_title_wrap {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .store .inner .store_title_wrap .store_btn {
        flex-direction: row;
        height: fit-content;
    }
    .store .inner .list {
        width: 100%;
    }
    .store .inner .list .item {
        width: 31.55%;
    }
    .store .inner .list .item .image_wrap .item_btn {
        opacity: 1;
        top: auto;
        bottom: 10px;
        left: auto;
        right: 25px;
        gap: 15px;
        justify-content: right;
    }
    .store .inner .list .item .image_wrap .item_btn a {
        filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
    }
    .store .inner .list .item .image_wrap::after {
        display: none;
    }
    .notice_left .customer_center span {
        margin: 15px 0;
    }
    .notice_down .notice_right .app_text span {
        margin: 15px 0;
    }
}/* 960 */

@media screen and (max-width:900px) {
    .footer .inner .footer_menu {
        flex-direction: column;
        gap: 15px;
        padding: 50px 0;
    }
    .footer .inner .familly_site {
        top: 50px;
    }
}/* 900 */

@media screen and (max-width:850px) {
    .mainSwiper .swiper-wrapper .swiper-slide .slide_text p {
        font-size: 20px;
    }
    .mainSwiper .swiper-wrapper .swiper-slide .slide_text h2 {
        font-size: 30px;
    }
    .mainSwiper .swiper-wrapper .swiper-slide .slide_text strong {
        font-size: 25px;
    }
    .store .inner .store_title_wrap .store_btn {
        gap: 10px;
    }
    .store .inner .store_title_wrap .store_btn a {
        padding: 8px 10px;
        font-size: 13px;
    }
    .notice .inner .notice_text .notice_down {
        flex-direction: column;
        gap: 20px;
        max-height: 100%;
    }
    .notice_down .notice_left {
        width: 100%;
    }
    .notice_down .notice_right {
        width: 100%;
        align-items: end;
    }
    .notice_down .notice_right > a {
        width: 80px;
    }
    .notice_down .notice_right > a img {
        width: 100%;
    }
    .footer {
        padding-bottom: 6.3rem;
    }
    .footer .inner .footer_adress {
        margin-top: 50px;
    }
    .footer .footer_adress li .corporate {
        flex-direction: column;
    }
    .footer .inner .footer_adress li .mail {
        flex-direction: column;
    }
}/* 850 */

@media screen and (max-width:700px) {
    html {
        font-size: 37.5%;
    }
    .header .util .hyundai {
        display: none;
    }
    .header .inner .logo p {
        display: none;
    }
    .poster .inner > a {
        padding: 8px 10px;
        font-size: 13px;
    }
    .poster .inner .title_wrap > a {
        width: 15px;
    }
    .posterSwiper .swiper-wrapper .swiper-slide {
        width: 210px;
    }
    .posterSwiper .swiper-button-next, 
    .posterSwiper .swiper-button-prev {
        top: 32%;
        right: calc(50% - 115px);
        background-size: 30px;
    }
    .posterSwiper .swiper-wrapper .swiper-slide .poster_image::before {
        opacity: 1;
        z-index: 2;
    }
    .posterSwiper .swiper-wrapper .swiper-slide-active .poster_image::before {
        opacity: 0;
    }
    .posterSwiper .swiper-wrapper .swiper-slide .poster_image p {
        left: 5px;
    }
    .posterSwiper .swiper-button-prev {
        left: calc(50% - 115px);
    }
    .posterSwiper .swiper-slide:not(.swiper-slide-active) .slide_text {
        display: none;
    }
    .posterSwiper .swiper-slide:not(.swiper-slide-active) .poster_btn {
        display: none;
    }
    .swiper-slide .poster_btn > a {
        padding: 8px 10px;
        font-size: 14px;
    }
    main .inner .title {
        gap: 10px;
    }
    main .inner .title > figure img {
        width: 15px;
    }
    
    main .inner {
        width: calc(100% - 30px);
    }

    .text h5 {
        font-size: 16px;
    }
    .store .inner .list .item .store_text {
        height: 80px;
    }
    .store .inner .list .item .store_text > span {
        font-size: 14px;
    }
    .store .inner .list .item .store_text .price strong {
        font-size: 16px;
    }
    
    .event .text > span {
        font-size: 14px;
    }
    .event .inner .btn_wrap {
        width: calc(100% + 30px);
    }
    .event .btn_wrap .swiper-button-next, 
    .event .btn_wrap .swiper-button-prev {
        right: 0;
        background-size: 10px;
    }
    .event .btn_wrap .swiper-button-prev {
        left: 0;
    }
    .store .inner .store_title_wrap {
        flex-direction: column;
        margin-bottom: 30px;
    }
    .store .inner .store_title_wrap > a {
        margin-bottom: 10px;
    }
    .store .inner .list .item .image_wrap .item_btn a {
        width: 20px;
    }
    .cinema .inner .list .item > a::after {
        opacity: 0;
    }
    .cinema .inner .list .item h6 {
        position: static;
        transform: translateY(0);
        color: #333;
        margin-top: 10px;
    }
    .view_all {
        gap: 5px;
    }
    .view_all img {
        width: 15px;
    }
    .notice {
        font-size: 14px;
    }
    .notice_title {
        font-size: 16px;
    }
    .notice_left .customer_center .call {
        font-size: 16px;
    }
    .notice .inner .notice_text .notice_up .notice_title_wrap p {
        display: none;
    }
    .notice_left .customer_center .cc_btn {
        flex-wrap: wrap;
    }
    .notice_left .customer_center .cc_btn a {
        padding: 8px 15px;
    }
}/* 700 */

@media screen and (max-width:450px) {
    .mainSwiper .swiper-btn .swiper-button-next, 
    .mainSwiper .swiper-btn .swiper-button-prev {
        background-size: 15px;
    }
    
    .store .inner .store_title_wrap .store_btn {
        width: 500px;
        overflow: auto;
    }
    .store .inner .list {
        flex-wrap: wrap;
        row-gap: 20px;
    }
    .store .inner .list .item:nth-child(1) {
        display: block;
    }
    .store .inner .list .item {
        width: 48.5%;
    }
    .store .inner .list .item .image_wrap {
        width: 100%;
        height: 17vh;
    }
    .store .inner .list .item .store_text {
        height: 72px;
    }
}/* 450 */

@media screen and (max-width:340px) {
    .poster .inner .title_wrap a {
        font-size: 20px;
    }
}/* 340 */